
body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: 700;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid #00000011;
  
  
}

.logo {
  background: #0000ff;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  border-radius: 50%;
  margin-left: 1rem;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-toggle {
  display: none;
}

/* menu despegable */
.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.menu-icon span {
  width: 24px;
  height: 2px;
  background: #000;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #0000ff;
  padding: 0rem 0rem;
  height: 50px;
}

#menu-toggle:checked ~ .nav-links {
  display: flex;
  height: 10rem;
}

.nav-links a {
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  margin: 0.5rem 0;
  font-weight: 400;
  align-items: center;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  transition: color 0.3s;
  height: 150%;
  border-left: 2px solid #00000011;
}

.nav-links a:nth-child(1) {
  border-left: none;
}

.nav-links a:hover {
  color: #00ffcc;
  background-color: gainsboro;
}

/* contenido-principal */
.contenido-principal {
  max-width: 900px;
  margin: 0 auto;
  padding: 6rem 2rem;
  text-align: left;
}

.contenido-principal h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.contenido-principal p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 700px;
}


.tachado {
  text-decoration: line-through;
  color: #000;
}

.azul {
  color: #0000ff;
}

.hero p {
  margin-top: 1rem;
  line-height: 1.6;
}

.boton {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #00ffcc;
  color: #000;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.boton:hover {
  background: linear-gradient(to right, #00ffcc, #0000ff);
  color: #fff;
}

/* EPISODIOS */
.episodios {
  padding: 5rem 2rem;
  text-align: center;
  height: auto;
  background-color: #0000ff;
  color: #fff;
  clip-path: polygon(0 8%, 100% 0, 100% 96%, 0 100%);
  margin-bottom: -4rem;
}

.episodios h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

.episodios-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

iframe {
  width: 100%;
  height: 232px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* NOSOTROS */
.nosotros {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  scroll-margin-top: 80px;
}

.img-phone {
  width: 100%;
  height: auto;
  position: static;
  z-index: 10;
  bottom: 0;
}

.img-phone img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.text-nosotros {
  width: 100%;
  margin-top: -5rem;
}

.text-nosotros h2 {
  font-size: xx-large;
}

.text-nosotros p {
  max-width: 500px;
}

/* ENTREVISTAS */
.entrevistas {
  padding: 5rem 0;
  text-align: center;
}

.entrevistas-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 1rem;
  margin-top: 2rem;
}

.entrevistas-grid img {
  width: 100%;
  height: auto;
  border-radius: 0;
}

/* TÓPICOS */
.topicos {
  padding: 5rem 2rem;
  text-align: center;
}

.topicos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0 2rem;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.topico {
  text-align: center;
}

.topico img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.topico p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

.cta {
  background-color: #0000ff;
  color: white;
  padding: 5rem 2rem;
  text-align: center;
  clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
}

/* FOOTER */
footer {
  padding: 2rem;
  background: #f4f4f4;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.9rem;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social a {
  margin: 0.5rem;
  color: #000;
  font-size: 1.2rem;
}

/* Medias Queries Escritorio */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-links {
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: static;
    background: none;
    gap: 0rem;
  }

  .nav-links a {
    color: #000;
  }

  .contenido-principal {
    padding: 6rem 2rem;
    text-align: left;
    margin-left: 10rem;
  }

  .contenido-principal h1 {
    font-size: 3rem;
  }

  .episodios {
    text-align: start;
    padding: 8rem 2rem;
    height: 45rem;
  }

  .episodios h2 {
    margin-left: 10rem;
  }

  .episodios-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .nosotros {
    flex-direction: row;
    justify-content: center;
    text-align: left;
    height: 20rem;
  }

  .img-phone {
    width: 350px;
    height: 450px;
    position: relative;
    bottom: 10rem;
    top: 1rem
  }

  .text-nosotros {
    width: 70%;
    margin-top: 0;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .entrevistas-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  }

  .topicos-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem 5rem;
    padding: 0;
  }
}
